# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
.venv/
venv/
ENV/
.env

# Data / model artifacts
*.csv
*.pt
*.bin
saved_model/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log
